h1 {
    /* 수평 중앙 정렬하기 */
    text-align: center;
  }

h6 {
    text-align: center;
}

  body {
    padding-top: 56px; /* 네비게이션 바 높이만큼 여백 추가 */
}

.navbar {
    margin-bottom: 20px; /* 네비게이션 바의 아래 여백 추가 */
}

.container {
    margin-top: 20px; /* 컨텐츠 상단 여백 추가 */
}

#calendar {
    position: relative; /* 위치 지정 속성 추가 */
    z-index: 1; /* 다른 요소들보다 낮은 값 설정 */
}

/* PC 환경에서 풀캘린더 텍스트 크기 조절 */
@media (min-width: 768px) {
    .fc-header-toolbar,
    .fc-header-toolbar h3 {
        font-size: 16px; /* PC 환경에서 풀캘린더 헤더 텍스트의 글꼴 크기를 조정합니다. */
    }
    .fc-header-toolbar h2 {
        font-size: 24px;
    }

    .fc-content,
    .fc-content table,
    .fc-content table th,
    .fc-content table td,
    .fc-day-header {
        font-size: 17px; /* PC 환경에서 풀캘린더 일정 텍스트의 글꼴 크기를 조정합니다. */
    }
}



.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: none;
    width: 90vw; /* 모달 창의 너비를 뷰포트의 90%로 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    height: auto; /* 높이 자동 조정 */
    max-height: 90vh; /* 최대 높이 설정 */
    overflow: auto; /* 필요한 경우 스크롤 표시 */
    z-index: 1050;
}

/* 모달 백그라운드 스타일 */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 오버레이 색상과 투명도 조절 */
    z-index: 1040; /* 모달 뒤에 오버레이가 나타나도록 설정 */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 이미지 스타일 추가 */
#eventImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px; /* 이미지 위 여백 추가 */
}
#eventImage2 {
    max-width: 100%; /* 이미지의 최대 너비를 설정하여 모달에 맞춤 */
    height: auto; /* 높이는 자동으로 조정되도록 설정 */
    display: block; /* 이미지를 블록 요소로 설정하여 다른 내용과 겹치지 않게 함 */
    margin: 0 auto; /* 이미지를 가운데 정렬 */
}

/* 자료실 */
.board {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.board-입시 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.board-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.board-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.board-item h3 {
    margin: 0;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 표시 */
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
    max-height: 70wh;
    overflow: auto;
    position: relative;
}

.modal img {
    width: 100%; /* 이미지를 모달 창에 가득 채우도록 설정 */
    height: auto; /* 이미지의 높이 자동 조정 */
    display: block; /* 이미지를 블록 요소로 설정하여 중앙 정렬 */
    margin: 0 auto; /* 이미지를 가운데 정렬 */
}

/* 모바일 환경에서 모달 창 크기 조정 */
@media (max-width: 768px) {
    .modal-content {
        width: 100vw; /* 뷰포트 너비의 100%로 설정 */
        height: 100vh; /* 뷰포트 높이의 100%로 설정 */
        max-width: none; /* 최대 너비 제거 */
        max-height: none; /* 최대 높이 제거 */
        overflow-x: auto; /* 수평 스크롤 추가 */
        overflow-y: auto; /* 수직 스크롤 추가 */
        -webkit-overflow-scrolling: touch; /* iOS에서 스크롤 부드럽게 처리 */
        font-size: 14px;
    }

    .modal img {
        max-width: 100%; /* 이미지가 모달 창의 너비를 초과하면 이미지 크기 조정 */
    }

    .modal-body {
        font-size: 14px; /* 원하는 크기로 조정 */
    }
}

